/* This file contains the CSS overrides for Polymer elements necessary for them
   to better match the Material Design spec. */

/* iron-icon */
iron-icon {
    color: rgba(0, 0, 0, 0.54);
}

/* paper-icon-button */
html /deep/ paper-icon-button[disabled] {
    color: rgba(255, 255, 255, 0.30);
}

/* paper-item */
html /deep/ paper-item[disabled]  {
    color: rgba(0, 0, 0, 0.26);
}
html /deep/ paper-item::shadow ::content *:not(paper-tooltip) {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}
html /deep/ paper-menu-button paper-icon-item {
    cursor: pointer;
}
html /deep/ paper-icon[disabled],
html /deep/ paper-icon-item[disabled] {
    cursor: default;
    color: rgba(0, 0, 0, 0.26);
    pointer-events: none;
}

/* paper-input-decorator & input */
html /deep/ input {
   text-overflow: ellipsis;
}

/* paper-tabs */
html /deep/ paper-tabs::shadow paper-icon-button {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.54);
}
